/* colors */
$font-base: Arial, Helvetica, sans-serif;

/* colors */
$color-outer-space: #454748;
$color-base: $color-outer-space;
$color-black: #000000;
$color-white: #ffffff;
$color-green: #23ab20;
$color-milan: #feffa7;
$color-sandstorm: #e6d43e;
$color-grey: #c6c6c6;
$color-lime: #06ee00;
$color-islamic-green: #059b01;
$color-geyser: #cedde3;

/* media */
$mobile-xs: 480px;
$tablet-width: 768px;
$desktop-width: 954px;